---
import { posts } from "@/utils/meta.server";
import moment from "moment";

// Layouts
import ArchiveLayout from "@/layouts/ArchiveLayout.astro";

// Components
import { Icon } from "astro-icon/components";
---

<ArchiveLayout title="所有文章" total={posts.length}>
  {
    posts.map(({ data }) => (
      <a
        class="border border-neutral-600 flex flex-col p-4 rounded-lg text-white hover:bg-neutral-800 hover:text-white"
        href={`/posts/${data.slug}`}
        title={data.title}>
        <h1 class="font-bold text-lg">{data.title}</h1>
        <div class="flex gap-4 items-center text-neutral-500 text-xs">
          <div class="flex gap-1 items-center">
            <Icon name="mdi:calendar" />
            <span>{moment(data.published_at).format("YYYY/MM/DD")}</span>
          </div>
          {data.tags && (
            <div class="flex gap-1 items-center">
              <Icon name="mdi:tag" />
              {data.tags.map((v: string) => (
                <span>{v}</span>
              ))}
            </div>
          )}
        </div>
        <p class="mt-4 text-neutral-300 text-sm">{data.excerpt}</p>
      </a>
    ))
  }
</ArchiveLayout>
