---
// Style sheets
import '@/styles/markdown.css';

// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import { Icon } from 'astro-icon/components';
import ArticleMeta from '@/components/ArticleMeta.astro';

// Types
type Props = {
  menuUrl: string;
  title: string;
  date: Date;
  tags?: string[];
  length?: number;
};

// Injects
const { menuUrl, title, date, tags, length } = Astro.props;
---

<BaseLayout
  title={`${title} - FUTURE 攻坚组`}
  og={{
    basic: {
      title: `${title} - FUTURE 攻坚组`,
      type: 'article',
      image: '/favicon.svg',
      url: Astro.request.url
    }
  }}>
  <main class="flex flex-col mx-4 my-12 lg:min-w-[768px] lg:mx-auto lg:w-1/2">
    <button
      class="flex items-center text-neutral-400 transition-colors hover:text-white"
      id="back-posts-btn"
      data-menu-url={menuUrl}>
      <Icon class="text-2xl" name="mdi:arrow-back" />
      <span>返回目录</span>
    </button>
    <h1 class="font-bold mt-8 text-3xl">{title}</h1>
    <ArticleMeta date={date} length={length} tags={tags} />
    <hr class="border-t-2 border-neutral-700 my-4" />
    <slot />
  </main>
</BaseLayout>

<script>
  import { navigate } from 'astro:transitions/client';

  document.addEventListener('astro:page-load', (): void => {
    document
      .querySelector<HTMLButtonElement>('#back-posts-btn')
      ?.addEventListener('click', function (): void {
        navigate(this.dataset.menuUrl!);
      });
  });
</script>
