---
import type { CollectionEntry } from 'astro:content';
import { avatars } from '@/utils/meta';

// Style sheets
import '@/styles/markdown.css';

// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import ArticleMeta from '@/components/ArticleMeta.astro';

// Types
type Props = {
  title: string;
  date: Date;
  tags?: string[];
  length: number;
  author: CollectionEntry<'authors'>;
};

// Injects
const { title, date, tags, length, author } = Astro.props;
---

<BaseLayout
  title={`${title} - FUTURE 攻坚组`}
  og={{
    basic: {
      title: `${title} - FUTURE 攻坚组`,
      type: 'article',
      image: '/favicon.svg',
      url: Astro.request.url
    }
  }}>
  <main class="flex flex-col mx-4 my-12 lg:min-w-[768px] lg:mx-auto lg:w-1/2">
    <button
      class="flex items-center text-neutral-400 transition-colors hover:text-white"
      id="back-posts-btn">
      <Icon class="text-2xl" name="mdi:arrow-back" />
      <span>返回</span>
    </button>
    <h1 class="font-bold mt-8 text-3xl">{title}</h1>
    <ArticleMeta date={date} length={length} tags={tags} />
    <hr class="border-t-2 border-neutral-700 my-4" />
    <div class="flex items-center my-4">
      {
        author.data.avatar.startsWith('@avatars/') ? (
          <Image
            alt="avatar"
            class="h-[60px] rounded-full transition-transform w-[60px] hover:scale-110"
            src={avatars[
              author.data.avatar.replace(/^@avatars/, '/src/assets/avatars')
            ]()}
          />
        ) : (
          <Image
            alt="avatar"
            class="h-[60px] rounded-full transition-transform w-[60px] hover:scale-110"
            height="200"
            src={author.data.avatar}
            width="200"
          />
        )
      }
      <div class="flex flex-col ml-4">
        <h1 class="font-bold">{author.data.name}</h1>
        <p class="text-sm text-neutral-400">{author.data.intro}</p>
        <div class="flex gap-2 items-center mt-1 text-sm">
          {
            author.data.urls?.map(({ name, url }) => (
              <a href={url} rel="nofollow noopener noreferer" target="_blank">
                {name}
              </a>
            ))
          }
        </div>
      </div>
    </div>
    <div
      class="border-dashed border-b-2 border-neutral-800 font-bold text-center text-neutral-800 text-sm select-none">
      Start of Post
    </div>
    <article class="my-8">
      <slot />
    </article>
    <div
      class="border-dashed border-neutral-800 border-t-2 font-bold mb-auto text-center text-neutral-800 text-sm select-none">
      End of Post
    </div>
  </main>
</BaseLayout>

<script>
  document.addEventListener('astro:page-load', (): void => {
    document
      .querySelector<HTMLButtonElement>('#back-posts-btn')
      ?.addEventListener('click', (): void => {
        history.back();
      });
  });
</script>
