---
import type { CollectionEntry } from 'astro:content';
import moment from 'moment';

// Style sheets
import '@/styles/markdown.css';

// Layouts
import BaseLayout from '@/layouts/BaseLayout.astro';

// Components
import { Icon } from 'astro-icon/components';

// Types
type Props = {
  puzzle: CollectionEntry<'puzzles'>;
};

// Injects
const { puzzle } = Astro.props;
---

<BaseLayout
  title={`${puzzle.data.title} - FUTURE 攻坚组`}
  og={{
    basic: {
      title: `${puzzle.data.title} - FUTURE 攻坚组`,
      type: 'article',
      image: '/favicon.svg',
      url: Astro.request.url
    }
  }}>
  <main class="flex flex-col mx-4 my-12 lg:min-w-[768px] lg:mx-auto lg:w-1/2">
    <button
      class="flex items-center text-neutral-400 transition-colors hover:text-white"
      id="back-puzzles-btn">
      <Icon class="text-2xl" name="mdi:arrow-back" />
      <span>返回</span>
    </button>
    <h1 class="font-bold mt-8 text-3xl">{puzzle.data.title}</h1>
    <div class="flex items-center gap-4 mt-1 text-neutral-500 text-sm">
      <div class="flex items-center gap-1">
        <Icon name="mdi:calendar" />
        <span title={puzzle.data.published_at.toISOString()}>
          {moment(puzzle.data.published_at).format('YYYY/MM/DD')}
        </span>
      </div>
    </div>
    <hr class="border-t-2 border-neutral-700 my-4" />
    <div class="flex gap-4 items-center justify-center my-8">
      {
        puzzle.data.report ? (
          <>
            <Icon class="text-5xl text-neutral-700" name="mdi:box-variant" />
            <a
              class="font-bold text-2xl text-neutral-700"
              href={puzzle.data.report}>
              Solved
            </a>
          </>
        ) : (
          <>
            <Icon
              class="text-5xl text-neutral-500"
              name="mdi:box-variant-closed"
            />
            <p class="font-bold text-2xl text-neutral-500">Mistery</p>
          </>
        )
      }
    </div>
    <div
      class="border-dashed border-b-2 border-neutral-800 font-bold text-center text-neutral-800 text-sm select-none">
      Start of Puzzle
    </div>
    <article class="my-8">
      <slot />
    </article>
    <div
      class="border-dashed border-neutral-800 border-t-2 font-bold mb-auto text-center text-neutral-800 text-sm select-none">
      End of Puzzle
    </div>
  </main>
</BaseLayout>

<script>
  document.addEventListener('astro:page-load', (): void => {
    document
      .querySelector<HTMLButtonElement>('#back-puzzles-btn')
      ?.addEventListener('click', (): void => {
        history.back();
      });
  });
</script>
